In [1]:
import pandas as pd

In [5]:
tipos = {"fecha": str, "hora": int, "temperatura": float, "humedad": float, "presion": float, "direccion_viento": float, "velocidad_viento": float, "estacion": str}
data = pd.read_csv("clima_arg.csv", dtype=tipos)

data.head()

,fecha,hora,temperatura,humedad,presion,direccion_viento,velocidad_viento,estacion
0,03122020,0,19.4,92.0,1006.7,90.0,24.0,AEROPARQUE AERO
1,03122020,1,19.7,88.0,1007.6,180.0,7.0,AEROPARQUE AERO
2,03122020,2,19.1,93.0,1007.5,200.0,7.0,AEROPARQUE AERO
3,03122020,3,18.4,92.0,1007.5,200.0,9.0,AEROPARQUE AERO
4,03122020,4,18.0,92.0,1007.4,180.0,9.0,AEROPARQUE AERO

In [6]:
data2 = data[(data["estacion"] == 'BUENOS AIRES') | (data["estacion"] == 'BUENOS AIRES OBSERVATORIO') | (data["estacion"] == "AEROPARQUE AERO")]
data2.head()

,fecha,hora,temperatura,humedad,presion,direccion_viento,velocidad_viento,estacion
0,03122020,0,19.4,92.0,1006.7,90.0,24.0,AEROPARQUE AERO
1,03122020,1,19.7,88.0,1007.6,180.0,7.0,AEROPARQUE AERO
2,03122020,2,19.1,93.0,1007.5,200.0,7.0,AEROPARQUE AERO
3,03122020,3,18.4,92.0,1007.5,200.0,9.0,AEROPARQUE AERO
4,03122020,4,18.0,92.0,1007.4,180.0,9.0,AEROPARQUE AERO

In [7]:
data2 = data2.copy()
data2.reset_index(inplace=True)
del data2["index"]
data2.head()

,fecha,hora,temperatura,humedad,presion,direccion_viento,velocidad_viento,estacion
0,03122020,0,19.4,92.0,1006.7,90.0,24.0,AEROPARQUE AERO
1,03122020,1,19.7,88.0,1007.6,180.0,7.0,AEROPARQUE AERO
2,03122020,2,19.1,93.0,1007.5,200.0,7.0,AEROPARQUE AERO
3,03122020,3,18.4,92.0,1007.5,200.0,9.0,AEROPARQUE AERO
4,03122020,4,18.0,92.0,1007.4,180.0,9.0,AEROPARQUE AERO

In [8]:
data2.to_csv("clima_bsas.csv")

In [7]:
data2["velocidad_viento"].unique()

array([24.,  7.,  9.,  4.,  6., 13., 11., 15.,  2., 26., 17., 19., 20.,
       28., 22.,  0., 31., 35., 30., 33., 37., 41., 39., 43., 44., 48.,
       nan, 46., 59., 54., 56., 52., 50., 57.])

In [9]:
data2.shape

(87328, 8)